<html>
  <head>
    <style>
      table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>

  <body>
    <h3 style="text-align: center">Midtaste Restaurant</h3>
    <table>
      <tr>
        <th>Name: <%= guessName %></th>
        <th>Status: <%= status %></th>
      </tr>
      <tr>
        <th>Contact Number: <%= guessNumber %></th>
        <th>Table: <%= tableName %></th>
      </tr>
    </table>

    <h3>Product Details:</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sub total</th>
      </tr>
      <% if (productDetails.length > 0) { %> <%
      productDetails.forEach(function(product) { %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %> VND</td>
        <td><%= product.total %> VND</td>
      </tr>
      <% }); %> <% } %>
    </table>
    <h3>Total: <%= totalAmount %> VND</h3>
    <h3>Date: <%= date %></h3>
    <h3>
      Thank you for supporting our restaurant. If there is some problems, we
      would love to take some advice from you at admin@midtaste.com
    </h3>
  </body>
</html>
